.App-header {
    font-size: 2.5em;
    text-align: center;
}

.body {
    /* border: red solid 5px; */
    width: 50%;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.display {
    border: rgb(28, 127, 239) solid 5px;
}

.add {
    border: rgb(4, 60, 124) solid 5px;
}
.add-title {
    text-align: center;
}