@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --main-bg-color: rgb(246, 130, 130);
    --box-body-color: rgb(251, 251, 251);
    --upcoming-color: rgb(246, 246, 161);
    --today-color: rgb(110, 223, 110);
}

body {
    --main-bg-color: rgb(246, 130, 130);
    --box-body-color: rgb(251, 251, 251);
    --upcoming-color: rgb(246, 246, 161);
    --today-color: rgb(110, 223, 110);
    box-sizing: border-box;
    margin: 0;
    background-color: var(--main-bg-color);
    font-family: 'Roboto', sans-serif;
}
